@import '../../colors.scss';

.grid-row {
  display: flex;
}

.grid-row:last-child {
  margin-bottom: 0;
}

.grid-cell {
  width: 10px;
  height: 10px;
  background-color: $light_color;
  border: 1px solid $dark_color;
  opacity: 75%;
}

.grid-cell:last-child {
  margin-right: 0;
}

.alive {
  background-color: $dark_color;
  border: 1x solid $light_color;
}
