@import '../../../colors.scss';
.controls {
  display: flex;
  align-items: center;
}

.controls fieldset {
  display: flex;
}

.controls fieldset input{
  margin-right: 15px;
}
/*
:host {
  display: flex;
  justify-content: space-between;
  width: 40%;
}*/

.buttonGroup {
  display: flex;
}
button {
  border: 0;
  background-color: $dark_color;
  color: $light_color;
  padding: .4em;
  margin: 0 .4em;
}

button[disabled] {
  background-color: $disabled-back-color;
  color: $disabled-color;
}

.disabled {
  color: $disabled-color;
}
