<div class="controls">
  <label [class.disabled]="isRunning" for="cyclic">Cyclic board</label>
  <input
    [disabled]="isRunning"
    type="checkbox"
    name="cyclic"
    id="cyclic"
    [checked]="cyclicBoard"
    (change)="cyclicBoard = !cyclicBoard"
  />
</div>
<div class="controls">
  <button [disabled]="isRunning" (click)="run()">Run</button>
  <button [disabled]="!isRunning" (click)="stop()">Stop</button>
  <button [disabled]="isRunning" (click)="reset()">Reset</button>
</div>
<p>Generation {{ this.getGeneration() }}</p>
