@import "../../../colors.scss";

.grid-container {
  width: 100%;
  overflow: auto;
  height: 350px;
  white-space: nowrap;
}
.grid {
  border-spacing: 0;
  width: auto;
}

.grid-row {
  //border-spacing: 0;
  border: 0;
}

.grid-row:last-child {
  margin-bottom: 0;
}

.grid-cell {
  background-color: $light_color;
  border: 1px solid $border_color;
}

.grid-cell span {
  width: 10px;
  height: 10px;
  display: block;
}


.grid-cell:last-child {
  margin-right: 0;
}

.alive {
  background-color: $dark_color;
  border: 1px solid $light_color;
  border-radius: 10px;
}



